i.icon{
	font-size: 1.5em;
}

.container.main{
	margin-top: 16px;
}
#content-div{


margin: 8em auto 8em auto;
}
#navbar{
	background-color: lightseagreen;
}

/*AnaSayfa*/


#homepagecontent{


margin-top: 8em;


}



/*AnaSayfa bitiş*/


/*ogrenci sayfası*/
 body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

/*ogrenci sayfası bitiş*/


/*profil sayfası*/
#profil-sayfası{
  margin-top: 8em;
}


.portlet .portlet-header {
    position: relative;
    padding: 1px 15px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #D5D5D5;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-background-clip: padding-box;
}



.portlet-content {
    padding: 22px 15px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
}

/*profil sayfası bitiş*/

.istatistik{
  background-color: white;


margin: 30px auto 30px auto;

}

h1{margin:auto;}




.chartlar{
  margin-top: 20px;
  margin-left: 20px;
}


/* Gradient transparent - color - transparent */
hr{
      height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


