i.icon{
	font-size: 1.5em;
}
div.menu{
	background-color: blue;
}
.container.main{
	margin-top: 16px;
}
#content-div{


margin: 8em auto 8em auto;
}
#navbar{
	background-color: lightseagreen;
}

/*AnaSayfa*/


#homepagecontent{


margin-top: 8em;


}



/*AnaSayfa bitiş*/


/*ogrenci sayfası*/
 body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

/*ogrenci sayfası bitiş*/


/*profil sayfası*/
#profil-sayfası{
  margin-top: 8em;
}



/*profil sayfası bitiş*/

.istatistik{
  background-color: yellow;

border: 1px solid grey;
margin: 30px auto 30px auto;

}

h1{margin:auto;}




.chartlar{
  margin-top: 20px;
  margin-left: 20px;
}