<!DOCTYPE html>
<html>
<head>
	<title>index.html</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" type="text/css" href="style.css">

  <style type="text/css">
   
  </style>
</head>
<body>

<!--NAVBAR-->

<div class="ui  fixed inverted menu stackable" id="navbar">
 <div class="ui container main inverted secondary menu">
 	<div class="header item float left ui">
     <i class="github icon">Logo</i>
    </div>
    
    <a href="index.html" class="item">
      Anasayfa
    </a>
    <a href="ogretmen.html" class="item">
      Öğretmen Girişi
    </a>
    <a href="ogrenci.html" class="active item">
      Öğrenci Girişi
      
    </a>
    
  </div>
</div>

		<!--NAVBAR FINISH-->

