<%- include header.ejs %>

		<!--NAVBAR FINISH-->
		<div class="ui inverted vertical masthead center aligned segment" id="homepagecontent">
		<img src="images/student.jpg">
	</div>




</body>
</html>